<section class="bg-white dark:bg-gray-900 py-30 px-4">
    <div class="max-w-6xl mx-auto text-center">
      <h2 class="text-4xl font-bold text-purple-900 dark:text-purple-400 mb-12 uppercase">Staf</h2>
  
      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/rohman.webp" alt="Rohman" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Rohman, S.A.P.</h3>
          <p class="text-[#422367] dark:text-purple-300">Kepala Seksi Akademik dan Kemahasiswaan</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/indri.webp" alt="Indri" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Indri Fitriani, S.Ak.</h3>
          <p class="text-[#422367] dark:text-purple-300">Kepala Seksi Administrasi Umum dan Sumber Daya</p>
        </div>

        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
            <img src="/images/staf/irvan.webp" alt="Irvan" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Irvan Faisal Lesmana</h3>
            <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
          </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/reti.webp" alt="Reti" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Reti Mulyati</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
      </div>
  
      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-10">
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/sri.webp" alt="Sri" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Sri Maryati, SE</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/herma.webp" alt="Herma" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Herma Nur Aphisa</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="../imgna.webp" alt="Zaenul" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Zaenul Efendi, S.T.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
            <img src="/images/staf/wawan.webp" alt="Wawan" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Wawan</h3>
            <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
          </div>
      </div>
  
      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-10">
     <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
    <img src="/images/staf/ghina.webp" alt="Ghina" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
    <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Ghina Nurulfaridah, S.Hum.</h3>
    <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
  </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/hendra.webp" alt="Hendrawan" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Hendrawan Santosa, S.Sos.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/taryana.webp" alt="Taryana" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Taryana</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/aep.webp" alt="Aep" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Aep</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
      </div>

      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-10">
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/raden.webp" alt="Raden" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Raden Mohamad Mahali, S.Tr.Ap.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/nuryaman.webp" alt="Nuryaman" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Nuryaman</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/dyanti.webp" alt="Dyanti" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Dyanti Safana, S.Pd.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/anggia.webp" alt="Anggia" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Anggia Shahnaz Farahtsania, S.E.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
      </div>
  
      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-10">
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/teja.webp" alt="Teja" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Teja Mustika, S.Ak.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/rerie.webp" alt="Rerie" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Rerie Karlitha, S.Pd.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/wildan.webp" alt="Wildan" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Wildan Fachdiansyah, S.S.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/biben.webp" alt="Biben" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Biben Fitrahman, S.S.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
      </div>
  
      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-10">
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/asep.webp" alt="Asep" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Asep Ahmad Suja'I, S.Pd., M.Pd.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
  

  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/hagi.webp" alt="Hagi" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Hagi Pradita, S.S.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Akademik dan Kemahasiswaan</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/irma.webp" alt="Irma" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Irma Rahmawati, S.Kom., M.M.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Administrasi Umum dan Sumber Daya</p>
        </div>
      <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
        <img src="/images/staf/jujun.webp" alt="Jujun" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
        <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Jujun</h3>
        <p class="text-[#422367] dark:text-purple-300">Seksi Administrasi Umum dan Sumber Daya</p>
      </div>
    </div>
  
      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-10">
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/yayu.webp" alt="Yayu" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Yayu Maryuni, S.Ak.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Administrasi Umum dan Sumber Daya</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/wina.webp" alt="Wina" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Wina Suci Junjunan, S.Pd.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Administrasi Umum dan Sumber Daya</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/maryam.webp" alt="Maryam" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Maryam Khoirotunnisa, S.E.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Administrasi Umum dan Sumber Daya</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/selly.webp" alt="Selly" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Selly Riyani, S.Pd.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Administrasi Umum dan Sumber Daya</p>
        </div>
      </div>
  
      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-10">
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/siti.webp" alt="Siti" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Siti Nur Agni</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Administrasi Umum dan Sumber Daya</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/avicennia.webp" alt="Avicennia" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Avicennia Robi'uts Tsani, S.M.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Administrasi Umum dan Sumber Daya</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/dede.webp" alt="Dede" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Dede Wahyu Ibrahim</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Administrasi Umum dan Sumber Daya</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/lingga.webp" alt="Lingga" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Lingga Aditya, S.A.B., M.E.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Administrasi Umum dan Sumber Daya</p>
        </div>
      </div>
  
      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-10">
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/didi.webp" alt="Didi" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Didi Juhadi, S.M.</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Administrasi Umum dan Sumber Daya</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/jenal.webp" alt="Jenal" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Jenal Alfianta Bangun</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Administrasi Umum dan Sumber Daya</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="/images/staf/dadang.webp" alt="Dadang" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Dadang Mulyana</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Administrasi Umum dan Sumber Daya</p>
        </div>
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
            <img src="../imgna.webp" alt="Dedi" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Dedi Setiadi</h3>
            <p class="text-[#422367] dark:text-purple-300">Seksi Administrasi Umum dan Sumber Daya</p>
          </div>

      </div>
  
      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-10">

  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
          <img src="../imgna.webp" alt="Ahmad" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Ahmad Soleh</h3>
          <p class="text-[#422367] dark:text-purple-300">Seksi Administrasi Umum dan Sumber Daya</p>
        </div>
      </div>
    </div>
  </section>