<!-- <section class="bg-white dark:bg-gray-900 pt-10 md:pt-10 pb-20 md:pb-20 px-0">

</section> -->


<!-- Fakta Singkat -->
<!-- <section class="py-24 px-4 max-w-6xl mx-auto">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-8 text-center">
    <div>
      <p class="text-5xl font-extrabold text-purple-800">14</p>
      <p class="text-gray-600">Program Studi</p>
    </div>
    <div>
      <p class="text-5xl font-extrabold text-purple-800">102</p>
      <p class="text-gray-600">Dosen Tetap</p>
    </div>
    <div>
      <p class="text-5xl font-extrabold text-purple-800">1800+</p>
      <p class="text-gray-600">Mahasiswa Aktif</p>
    </div>
    <div>
      <p class="text-5xl font-extrabold text-purple-800">8</p>
      <p class="text-gray-600">Bahasa yang Diajar</p>
    </div>
  </div>
</section> -->