<section class="bg-white dark:bg-gray-900 pt-10 md:pt-10 pb-25 md:pb-25 px-0">
  <div class="max-w-6xl mx-auto px-4">
    <h2 class="text-2xl md:text-4xl font-bold text-purple-900 dark:text-purple-400 mb-6 uppercase">
      Struktur Organisasi
    </h2>

    <!-- Bungkus dalam anchor agar bisa pakai PhotoSwipe -->
    <div id="struktur-gallery">
      <a href="/images/profil/struktur-organisasi-fpbs-upi.webp" data-pswp-width="1920" data-pswp-height="1080"
         class="block cursor-zoom-in transition hover:brightness-90">
        <img src="/images/profil/struktur-organisasi-fpbs-upi.webp" alt="Struktur Organisasi FPBS"
             class="w-full aspect-video rounded-lg shadow-md">
      </a>
    </div>
  </div>
</section>
