
<section class="bg-white dark:bg-gray-900 py-10 md:py-10 px-0">
  <div class="max-w-6xl mx-auto px-4 space-y-16">
    <div>
      <h2 class="text-2xl md:text-4xl font-bold text-purple-900 dark:text-purple-400 mb-6 uppercase">
        Vision
      </h2>
      
      <p class="text-gray-700 dark:text-gray-300 leading-relaxed">
        The Faculty of Language and Literature Education aims to become an outstanding institution in conducting language and literature education programs with internationally standardized management by 2025.
      </p>
    </div>
    <div>
      <h2 class="text-2xl md:text-4xl font-bold text-purple-900 dark:text-purple-400 mb-6 uppercase">
        Mission
      </h2>
      
      <ol class="list-decimal text-gray-700 dark:text-gray-300 space-y-4 pl-6">
        <li>To manage the implementation of language and literature education based on national and international standards in an academic atmosphere that supports quality education, carried out by professional educators and supported by adequate educational facilities.</li>
        <li>To conduct various research and development activities in the field of language and literature education and to disseminate innovative research findings nationally and internationally using multidisciplinary and transdisciplinary approaches.</li>
        <li>To develop knowledge, apply, and utilize research findings in the field of language and literature through community service activities based on national and international standards for the welfare of humanity.</li>
        <li>To build partnerships with various stakeholders at the national, regional, and international levels in order to enhance the quality of education, research, publication, and community service.</li>
      </ol>
    </div>
  </div>
</section>
