<section class="bg-white dark:bg-gray-900 pt-10 md:pt-10 pb-25 md:pb-25 px-4">
    <div class="max-w-6xl mx-auto text-center">
      <h2 class="text-2xl md:text-4xl font-bold text-purple-900 dark:text-purple-400 mb-12 uppercase">Pimpinan</h2>
 
      <!-- Card 1 -->
            <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
                <!-- Card 1 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/Dekan.webp" alt="Prof. Dr. Tri Indri Hardini" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Prof. Dr. Tri Indri Hardini, M.Pd.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Dekan</p>
                </div>
              
                <!-- Card 2 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/WD I.webp" alt="Prof. Dr. Yulianeta" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Prof. Dr. Yulianeta, M.Pd.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Wakil Dekan Bidang Akademik</p>
                </div>
              
                <!-- Card 3 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="../imgna.webp" alt="Wawan Gunawan, M,Ed,. Ph.D." class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Wawan Gunawan, M,Ed,. Ph.D.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Wakil Dekan Bidang Keuangan, Sumber Daya, dan Umum</p>
                </div>
              
                <!-- Card 4 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/WD III.webp" alt="Yanty Wirza" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Yanty Wirza, M.Pd., M.A., Ph.D.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Wakil Dekan Bidang Kemahasiswaan</p>
                </div>
              </div>
              
              <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-10">
                <!-- Card 5 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/Herni.webp" alt="Dr. Herniwati" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Dr. Herniwati, S.Pd., M.Hum.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Ketua Satuan Kendali Mutu</p>
                </div>
              
                <!-- Card 6 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/Yostiani.webp" alt="Dr. Yostiani Noor Asmi Harini" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Dr. Yostiani Noor Asmi Harini, S.S., M.Hum.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Kepala Laboratorium Bahasa & Microteaching</p>
                </div>
              
                <!-- Card 7 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/Sumiyadi.webp" alt="Prof. Dr. Sumiyadi" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Prof. Dr. Sumiyadi, M.Hum.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Ketua Program Studi Pendidikan Bahasa dan Sastra Indonesia (S1) dan Pendidikan Bahasa Indonesia (S2/S3)</p>
                </div>
              
                <!-- Card 8 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/Tedi.webp" alt="Dr. Tedi Permadi" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Dr. Tedi Permadi, S.S., M.Hum.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Ketua Program Studi Pendidikan Bahasa dan Sastra Indonesia</p>
                </div>
              </div>
              
              <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-10">
                <!-- Card 9 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/Nunuy.webp" alt="Prof. Dr. Nunuy Nurjanah" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Prof. Dr. Nunuy Nurjanah, M.Pd.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Ketua Program Studi Pendidikan Bahasa Sunda (S1) & Bahasa dan Budaya Sunda (S2)</p>
                </div>
              
                <!-- Card 10 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/Emi.webp" alt="Prof. Emi Emillia" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Prof. Emi Emillia, M.Ed., Ph.D.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Ketua Program Studi Pendidikan Bahasa Inggris (S1, S2 dan S3)</p>
                </div>
              
                <!-- Card 11 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/Zaka.webp" alt="Prof. Dr. Mohamad Zaka Al Farisi" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Prof. Dr. Mohamad Zaka Al Farisi, M.Hum.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Ketua Program Studi Pendidikan Bahasa Arab (S1 dan S2)</p>
                </div>

                
                <!-- Card 21 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                    <img src="/images/pimpinan/rojab.webp" alt="Dr. Rojab Siti Rodliyah" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                    <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Dr. Rojab Siti Rodliyah, M.Ed.</h3>
                    <p class="text-[#422367] dark:text-purple-300">Sekretaris Program Studi Pendidikan Bahasa Inggris (S1, S2 dan S3)</p>
                    </div>
                    
              </div>


              <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-10">
                <!-- Card 12 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/Eri.webp" alt="Prof. Eri Kumiawan" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Prof. Eri Kumiawan, M.A., Ph.D.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Ketua Program Studi Bahasa dan Sastra Inggris</p>
                </div>
              
                <!-- Card 13 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/irma.webp" alt="Irma Permatawati" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Irma Permatawati, S.Pd., M.Pd.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Ketua Program Studi Pendidikan Bahasa Jerman</p>
                </div>
              
                <!-- Card 14 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/didin.webp" alt="Didin Samsudin" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Didin Samsudin, S.E, M.M., CHCM., CIT.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Ketua Program Studi Pendidikan Bahasa Korea</p>
                </div>
              
                <!-- Card 15 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/nuria.webp" alt="Prof. Nuria Haristiani" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Prof. Nuria Haristiani, S.Pd., M.Ed., Ph.D.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Ketua Program Studi Pendidikan Bahasa Jepang (S1 dan S2)</p>
                </div>
              </div>
              
              <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-10">
                <!-- Card 16 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/farida.webp" alt="Dr. Farida Amalia" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Dr. Farida Amalia, S.Pd., M.Pd.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Ketua Program Studi Pendidikan Bahasa Perancis</p>
                </div>
              
                <!-- Card 17 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/asep.webp" alt="Dr. Asep Sopian" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Dr. Asep Sopian, M.Ag.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Sekretaris Program Studi Pendidikan Bahasa Arab (S1 dan S2)</p>
                </div>
              
                <!-- Card 18 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/linna.webp" alt="Dr. Linna Meilia Rasiban" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Dr. Linna Meilia Rasiban, M.Pd.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Sekretaris Program Studi Pendidikan Bahasa Jepang (S1 dan S2)</p>
                </div>
              
                <!-- Card 19 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/halimah.webp" alt="Dr. Halimah" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Dr. Halimah, M.Pd.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Sekretaris Program Studi Pendidikan Bahasa dan Sastra Indonesia (S1) dan Pendidikan Bahasa Indonesia (S2/S3)</p>
                </div>
              </div>
              
              <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-10">
                <!-- Card 20 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/risa.webp" alt="Risa Triarisanti" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Risa Triarisanti, M.Pd.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Sekretaris Program Studi Pendidikan Bahasa Korea</p>
                </div>
              
                <!-- Card 22 -->
                <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-center pb-2 px-1">
                  <img src="/images/pimpinan/rinaldi.webp" alt="Dr. Rinaldi Supriadi" class="w-full aspect-[3/4] object-cover object-top rounded-t-lg mb-2">
                  <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-1">Dr. Rinaldi Supriadi, M.Pd.</h3>
                  <p class="text-[#422367] dark:text-purple-300">Sekretaris Laboratorium Bahasa & Microteching</p>
                </div>
              </div>          
                        
    </section>