<section class="bg-white dark:bg-gray-900 py-30 px-4">
    <div class="max-w-6xl mx-auto text-center">
      <h2 class="text-4xl font-bold text-purple-900 dark:text-purple-400 mb-12 uppercase">Fasilitas</h2>
  
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <!-- Contoh satu card, salin dan sesuaikan untuk card lainnya -->
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
          <img src="/images/fasilitas/ruang-kuliah-s1.webp" alt="Ruang Kuliah (S1)" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Ruang Kuliah (S1)</h3>
          <p class="text-[#422367] dark:text-purple-300">Ruang kuliah dilengkapi dengan kursi-meja, proyektor, AC, dan Wi-Fi.</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
          <img src="/images/fasilitas/ruang-kuliah-s2-s3.webp" alt="Ruang Kuliah (S2 - S3)" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Ruang Kuliah (S2 - S3)</h3>
          <p class="text-[#422367] dark:text-purple-300">Dilengkapi dengan kursi, meja, proyektor, speaker, AC, dan Wi-Fi.</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
          <img src="/images/fasilitas/ruang-pelayanan-prodi.webp" alt="Ruang Pelayanan Prodi" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Ruang Pelayanan Prodi</h3>
          <p class="text-[#422367] dark:text-purple-300">Pelayanan administrasi akademik Program Studi dilayani oleh staf tata usaha.</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
          <img src="/images/fasilitas/ruang-budaya-sunda.webp" alt="Ruang Budaya Sunda" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Ruang Budaya Sunda</h3>
          <p class="text-[#422367] dark:text-purple-300">Digunakan untuk latihan pertunjukan musik, seni, dan kebudayaan Sunda.</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
          <img src="/images/fasilitas/microteaching.webp" alt="Microteaching" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Microteaching</h3>
          <p class="text-[#422367] dark:text-purple-300">Mahasiswa melakukan simulasi strategi pembelajaran untuk meningkatkan kemampuan mengajar.</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
          <img src="/images/fasilitas/ruang-sidang.webp" alt="Ruang Sidang" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Ruang Sidang</h3>
          <p class="text-[#422367] dark:text-purple-300">Ruang khusus untuk presentasi ujian skripsi, tesis, dan disertasi.</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
          <img src="/images/fasilitas/smart-class.webp" alt="Smart Class" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Smart Class</h3>
          <p class="text-[#422367] dark:text-purple-300">Pembelajaran menggunakan teknologi digital untuk interaksi dan partisipasi aktif.</p>
        </div>
  
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
          <img src="/images/fasilitas/laboratorium-bahasa.webp" alt="Laboratorium Bahasa" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
          <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Laboratorium Bahasa</h3>
          <p class="text-[#422367] dark:text-purple-300">Lab berteknologi digital untuk melatih kemampuan bahasa mahasiswa.</p>
        </div>
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/ruang-drama.webp" alt="Ruang Drama" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Ruang Drama</h3>
            <p class="text-[#422367] dark:text-purple-300">Untuk latihan pertunjukan drama dan kegiatan seni panggung lainnya.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/anjungan-komputer.webp" alt="Anjungan Komputer" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Anjungan Komputer</h3>
            <p class="text-[#422367] dark:text-purple-300">Fasilitas mahasiswa untuk mengakses aplikasi berbasis web.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/anjungan-literasi.webp" alt="Anjungan Literasi" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Anjungan Literasi</h3>
            <p class="text-[#422367] dark:text-purple-300">Tempat belajar, membaca, dan diskusi mahasiswa.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/informasi-digital.webp" alt="Informasi Digital" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Informasi Digital</h3>
            <p class="text-[#422367] dark:text-purple-300">Informasi kampus dapat dimuat melalui staf ADUM FPBS.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/auditorium.webp" alt="Auditorium" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Auditorium</h3>
            <p class="text-[#422367] dark:text-purple-300">Untuk seminar, kuliah umum, dan konferensi.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/ruang-ukf.webp" alt="Ruang UKF" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Ruang UKF</h3>
            <p class="text-[#422367] dark:text-purple-300">Dilengkapi obat-obatan umum, kasur, timbangan, kursi roda, tandu, dan kursi tunggu.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/lift.webp" alt="Lift" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Lift</h3>
            <p class="text-[#422367] dark:text-purple-300">Khusus untuk mahasiswa, lift digunakan mulai lantai 2. Diutamakan untuk dosen, staf, ibu hamil, dan penyandang disabilitas.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/tangga-darurat.webp" alt="Tangga Darurat" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Tangga Darurat</h3>
            <p class="text-[#422367] dark:text-purple-300">Tersedia di sisi timur dan selatan gedung FPBS untuk keadaan darurat.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/mushola.webp" alt="Mushola" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Mushola</h3>
            <p class="text-[#422367] dark:text-purple-300">Mushola pria dan wanita terpisah. Mahasiswa pria diutamakan sholat di Masjid Al-Furqon UPI.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/lapang-voli.webp" alt="Lapang Voli" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Lapang Voli</h3>
            <p class="text-[#422367] dark:text-purple-300">Digunakan untuk berbagai kegiatan olahraga oleh pegawai maupun mahasiswa.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/akses-internet.webp" alt="Akses Internet" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Akses Internet</h3>
            <p class="text-[#422367] dark:text-purple-300">Selain di ruang kuliah, internet tersedia di taman belajar dan ruang akses Lt.4.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/cctv.webp" alt="CCTV" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">CCTV</h3>
            <p class="text-[#422367] dark:text-purple-300">Seluruh gedung FPBS dan ruang kuliah Program Studi dipantau dengan CCTV.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/tempat-fotokopi.webp" alt="Tempat Fotokopi" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Tempat Fotokopi</h3>
            <p class="text-[#422367] dark:text-purple-300">Fotokopi tersedia di basement gedung FPBS.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/taman-belajar.webp" alt="Taman Belajar" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Taman Belajar</h3>
            <p class="text-[#422367] dark:text-purple-300">Tempat belajar, bimbingan, atau berkumpul bersama teman.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/gerai-atm.webp" alt="Gerai ATM" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Gerai ATM</h3>
            <p class="text-[#422367] dark:text-purple-300">Gedung FPBS bersebelahan dengan gerai ATM kampus.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/tempat-parkir.webp" alt="Tempat Parkir" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Tempat Parkir</h3>
            <p class="text-[#422367] dark:text-purple-300">Area parkir motor dan mobil tersedia di dekat gedung FPBS.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="/images/fasilitas/jalan-utama.webp" alt="Jalan Utama" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Jalan Utama</h3>
            <p class="text-[#422367] dark:text-purple-300">Gedung FPBS berada dekat dengan jalan utama kampus UPI.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="../imgnaa.webp" alt="Ruang Podcast" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Ruang Podcast</h3>
            <p class="text-[#422367] dark:text-purple-300">Fasilitas untuk produksi konten audio kreatif mahasiswa dan dosen.</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="../imgnaa.webp" alt="Ruang Sidang Promosi S3" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Ruang Sidang Promosi S3</h3>
            <p class="text-[#422367] dark:text-purple-300">Ruang khusus untuk ujian terbuka promosi doktor (S3).</p>
          </div>
    
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-2xl transition-shadow duration-300 ease-in-out text-left p-4">
            <img src="../imgnaa.webp" alt="Pojok Korea" class="w-full aspect-[16/9] object-cover object-center rounded-lg mb-4">
            <h3 class="text-base font-semibold text-gray-900 dark:text-white mb-2">Pojok Korea</h3>
            <p class="text-[#422367] dark:text-purple-300">Area lesehan dengan koleksi buku dan materi budaya Korea.</p>
          </div>
        </div>
      </div>
    </section>
      