<div id="default-carousel" class="relative" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="overflow-hidden relative h-90 sm:h-110 md:h-150 lg:h-190 xl:h-210 2xl:h-230 bg-gray-50 dark:bg-gray-800 rounded-none">
    
    <!-- Slide 1 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="../../image-slider/fpbs-zi.jpg" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2 object-cover" alt="Slide 1">
    </div>

    <!-- Slide 2 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="../../image-slider/fpbs-wbk.jpg" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2 object-cover" alt="Slide 2">
    </div>
  </div>

  <!-- Slider controls -->
  <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-600/50 dark:bg-gray-700/60 group-hover:bg-gray-700/80 dark:group-hover:bg-gray-600/80">
      <svg class="w-5 h-5 text-white dark:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </span>
  </button>

  <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-600/50 dark:bg-gray-700/60 group-hover:bg-gray-700/80 dark:group-hover:bg-gray-600/80">
      <svg class="w-5 h-5 text-white dark:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
      </svg>
    </span>
  </button>
</div>
