<section class="bg-white dark:bg-gray-900 pt-5 md:pt-5 pb-25 md:pb-25 px-6 md:px-10">
  <div class="max-w-6xl mx-auto pl-4">

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSd5ifHs9sdSYRhJFzyfdHK7Jl1fogHyjvcRFjgqiiPXqVFWlw/viewform"
         class="flex items-start gap-4 bg-white dark:bg-gray-800 rounded-2xl shadow-md p-6 hover:translate-y-1 hover:shadow-2xl transition duration-300 ease-in-out text-left">
        <i class="fa-regular fa-file-lines text-purple-700 text-2xl mt-1 shrink-0"></i>
        <h2 class="text-lg font-semibold text-purple-800 dark:text-purple-300">Permohonan Informasi</h2>
      </a>

      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfjPJLUZ4DHWcZSig577TDMuhf2b0C9sQg43v0db0qQGxvQ_A/viewform"
         class="flex items-start gap-4 bg-white dark:bg-gray-800 rounded-2xl shadow-md p-6 hover:translate-y-1 hover:shadow-2xl transition duration-300 ease-in-out text-left">
        <i class="fa-solid fa-comment-dots text-purple-700 text-2xl mt-1 shrink-0"></i>
        <h2 class="text-lg font-semibold text-purple-800 dark:text-purple-300">Pengajuan Keberatan</h2>
      </a>

      <a href="https://lapor.go.id/"
         class="flex items-start gap-4 bg-white dark:bg-gray-800 rounded-2xl shadow-md p-6 hover:translate-y-1 hover:shadow-2xl transition duration-300 ease-in-out text-left">
        <i class="fa-solid fa-bullhorn text-purple-700 text-2xl mt-1 shrink-0"></i>
        <h2 class="text-lg font-semibold text-purple-800 dark:text-purple-300">Pengaduan Publik</h2>
      </a>

      <a href="https://drive.google.com/file/d/1JWzFS4RcdoPg9_88lh-umhYRqYO_kVHm/view?usp=sharing"
         class="flex items-start gap-4 bg-white dark:bg-gray-800 rounded-2xl shadow-md p-6 hover:translate-y-1 hover:shadow-2xl transition duration-300 ease-in-out text-left">
        <i class="fa-solid fa-book-open-reader text-purple-700 text-2xl mt-1 shrink-0"></i>
        <h2 class="text-lg font-semibold text-purple-800 dark:text-purple-300">Tata Cara Permohonan Informasi</h2>
      </a>

      <a href="https://drive.google.com/file/d/1YT9lpmPSDoQfUOeGzHuQoFfuH-XoKiO-/view?usp=sharing"
         class="flex items-start gap-4 bg-white dark:bg-gray-800 rounded-2xl shadow-md p-6 hover:translate-y-1 hover:shadow-2xl transition duration-300 ease-in-out text-left">
        <i class="fa-solid fa-pen-fancy text-purple-700 text-2xl mt-1 shrink-0"></i>
        <h2 class="text-lg font-semibold text-purple-800 dark:text-purple-300">Pengajuan Keberatan Informasi</h2>
      </a>

      <a href="https://drive.google.com/file/d/1TAxq6V2eWmUlC8iy_4UWWAGksz5-yDYO/view?usp=sharing"
         class="flex items-start gap-4 bg-white dark:bg-gray-800 rounded-2xl shadow-md p-6 hover:translate-y-1 hover:shadow-2xl transition duration-300 ease-in-out text-left">
        <i class="fa-solid fa-diagram-project text-purple-700 text-2xl mt-1 shrink-0"></i>
        <h2 class="text-lg font-semibold text-purple-800 dark:text-purple-300">Tata Cara Pengaduan Publik</h2>
      </a>
    </div>

    
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-10">
      <div class="bg-white dark:bg-gray-800 rounded-2xl overflow-hidden shadow-md hover:shadow-xl hover:translate-y-1 transition duration-300 ease-in-out">
        <img src="/images/ppid/fpbs-gedung-min.webp" alt="Gedung FPBS" class="w-full h-56 object-cover">
        <div class="p-6 text-left">
          <h2 class="text-xl font-semibold text-gray-800 dark:text-white mb-2">Informasi yang Wajib Disediakan dan Diumumkan Secara Berkala</h2>
          <p class="text-gray-700 dark:text-gray-300 mb-4">Informasi yang wajib diperbaharui kemudian disediakan dan diumumkan kepada publik secara rutin atau berkala sekurang-kurangnya setiap 6 bulan sekali.</p>
          <a href="/ppid/informasi-yang-wajib-disediakan-dan-diumumkan-secara-berkala/index.html" class="text-purple-700 hover:underline">Selengkapnya..</a>
        </div>
      </div>

      <div class="bg-white dark:bg-gray-800 rounded-2xl overflow-hidden shadow-md hover:shadow-xl hover:translate-y-1 transition duration-300 ease-in-out">
        <img src="/images/ppid/anjungan-literasi-fpbs.webp" alt="Informasi Setiap Saat" class="w-full h-56 object-cover">
        <div class="p-6 text-left">
          <h2 class="text-xl font-semibold text-gray-800 dark:text-white mb-2">Informasi yang Wajib Disediakan Setiap Saat</h2>
          <p class="text-gray-700 dark:text-gray-300 mb-4">Informasi yang harus disediakan oleh Badan Publik dan siap tersedia untuk bisa langsung diberikan kepada Pemohon Informasi Publik ketika terdapat permohonan terhadap Informasi Publik tersebut.</p>
          <a href="/ppid/informasi-yang-wajib-disediakan-setiap-saat/index.html" class="text-purple-700 hover:underline">Selengkapnya..</a>
        </div>
      </div>

      <div class="bg-white dark:bg-gray-800 rounded-2xl overflow-hidden shadow-md hover:shadow-xl hover:translate-y-1 transition duration-300 ease-in-out">
        <img src="/images/ppid/fpbs-lobby.webp" alt="Informasi Serta Merta" class="w-full h-56 object-cover">
        <div class="p-6 text-left">
          <h2 class="text-xl font-semibold text-gray-800 dark:text-white mb-2">Informasi Yang Wajib Diumumkan Secara Serta Merta</h2>
          <p class="text-gray-700 dark:text-gray-300 mb-4">Informasi yang berkaitan dengan hajat hidup orang banyak dan ketertiban umum dan wajib diumumkan secara serta merta tanpa penundaan.</p>
          <a href="/ppid/informasi-yang-wajib-diumumkan-secara-serta-merta/index.html" class="text-purple-700 hover:underline">Selengkapnya..</a>
        </div>
      </div>

      <div class="bg-white dark:bg-gray-800 rounded-2xl overflow-hidden shadow-md hover:shadow-xl hover:translate-y-1 transition duration-300 ease-in-out">
        <img src="/images/ppid/anjungan-fpbs.webp" alt="Informasi Dikecualikan" class="w-full h-56 object-cover">
        <div class="p-6 text-left">
          <h2 class="text-xl font-semibold text-gray-800 dark:text-white mb-2">Informasi yang Dikecualikan</h2>
          <p class="text-gray-700 dark:text-gray-300 mb-4">Informasi yang tidak dapat diakses oleh pemohon informasi publik sebagaimana yang dimaksud dalam Undang-Undang Nomor 14 Tahun 2008. Informasi yang dikecualikan bersifat ketat dan terbatas.</p>
          <a href="https://drive.google.com/file/d/1WkI8IjxJWUOFRxoC3OXZsOXraZk3u6d4/view" class="text-purple-700 hover:underline">Selengkapnya..</a>
        </div>
      </div>
    </div>
  </div>
</section>
